header {
    font-weight: bold;
        .logo {
            display: flex;
            justify-content: center;
        }
            a {
            text-decoration: none;
            color: black;
        }
                nav {
                    font-size: 2.4vw;
                }

}



.history {
    @extend %historyAndSpec;
}

.historyText {
    padding: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgba(250, 250, 250, 0.6);
}

.spec {
    @extend %historyAndSpec;
}

.specText {
    padding: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgba(250, 250, 250, 0.6);
}






