header {
    font-weight: bold;
        .logo {
            display: flex;
            justify-content: center;
        }
            a {
            text-decoration: none;
            color: black;
        }
                nav {
                    font-size: 3.4vw;
                }
}

.lightYellow {
    color: rgb(255, 174, 0);
}



.history {
    @extend %historyAndSpec;
    left: 15%; //for firefox;
}

.historyText {
    padding: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgba(250, 250, 250, 0.6);
}

.spec {
    @extend %historyAndSpec;
    left: 15%; //for firefox;
}

.specText {
    padding: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgba(250, 250, 250, 0.6);
}







