@media (max-width: 640px) {
    .main-container {
        background-color: darkorchid;
    }
    .onOff {
    flex-wrap: wrap;
  }
    header {
        .row {
            display:flex;
            flex-wrap: wrap;
        }
    }
    nav {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}