%effects1 {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 250, 244, 0.53);
    box-shadow: 0px 0px 75px 14px rgba(255, 251, 246, 0.75);
}

%effects2 {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 120, 0, 0.4);
    box-shadow: 0px 0px 75px 14px #ff9300;
}

%effects3 {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(244, 244, 244, 0.41);
}



%historyAndSpec {
    position: absolute;
    display: none; 
    margin: 0 auto;
    width: 70%;
    border: 0.1rem solid black;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(50, 46, 52, 0.95);
    z-index: 1;
}


