body {
    font-family: 'Oswald', 'arial', 'helvetica';
    font-size: 3.6vw;
    background-color: grey;
   
}

.main-container { 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.left {float: left;}
.help-border {border: 1px solid orange;}
.flex {display: flex;}
.just-center {justify-content: center;}


.ctrlPanel {
    .row {
        height: 100%;
    }
}

.onOff {
    display:flex;
    justify-content: space-between;
}

.keyBox {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
}

.keysCircle1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width:120px;
    height:120px;
    background-color: lightgray;
    border-radius: 50%;
    border: 2px solid black;
}

.keysCircle2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: lightslategrey;
    border-radius: 50%;
    border: 1px solid black;
}

.key {
    position: absolute;
    width: 15px;
    height:95px;
    background-color: dimgrey;
    border: 2px solid black;
    border-radius: 5px;
}

.off {
    position: absolute;
    font-size: 16px;
}

.start {
    position: absolute;
    font-size: 16px;
    left: 145px;
    top: 50px;
}

.lightBox {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
}

.lightCircle1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width:120px;
    height:120px;
    background-color: #515151;
    border-radius: 50%;
    border: 2px solid black;
}

.lightCircle2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: lightslategrey;
    border-radius: 50%;
    border: 1px solid black;
}

.light {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 25px;
    height:95px;
    background-color: dimgrey;
    border: 2px solid black;
    border-radius: 10px;
}

.arrow {
    position: absolute;
    width: 16px;
    height: 16px;
    border-bottom: 10px solid white;
    border-left: 8px solid rgba(255, 192, 203, 0);
    border-right: 8px solid rgba(255, 192, 203, 0);
}


.indicatorBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.indicatorArm {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    width: 180px;
    height:30px;
    margin-top: 50px;
    background-color: dimgrey;
    border: 2px solid black;
    border-radius: 10px;
}

.arrowUp {
    position: absolute;
    width: 14px;
    height: 14px;
    top: -4px;
    left: 7px;
    border-bottom: 7px solid white;
    border-left: 7px solid rgba(255, 192, 203, 0);
    border-right: 7px solid rgba(255, 192, 203, 0);
}

.arrowDown {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 16px;
    left: 7px;
    border-bottom: 7px solid white;
    border-left: 7px solid rgba(255, 192, 203, 0);
    border-right: 7px solid rgba(255, 192, 203, 0);
    transform: rotate(180deg);
}

