body {
    font-family: 'Oswald', 'arial', 'helvetica';
    font-size: 3.6vw;
    background-color: #727272;
}

.main-container { 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.left {float: left;}
.help-border {border: 1px solid orange;}
.flex {display: flex; flex-wrap:wrap;}
.just-center {justify-content: center;}
.align {align-items: center;}

.navBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ctrlPanel {
    justify-content: space-between;
    display: none;
}

.panelLook {
    display: none; 
    margin: 0 auto;
    padding: 0.7vw;
    width: 95%;
    border: 0.1rem solid black;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(228, 228, 228, 0.58);
    z-index: 1;
}

.keyBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}



.keysCircle1 {
    position: absolute;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 95px;
    top: 14px; //for Firefox
    left: 30px; //for Firefox
    background-color: lightgray;
    border-radius: 50%;
    border: 2px solid black;
}

.keysCircle2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    top: 16px; //for Firefox
    left: 16px; //for Firefox
    background-color: lightslategrey;
    border-radius: 50%;
    border: 1px solid black;
}

.key {
    position: absolute;
    width: 15px;
    height: 58px;
    top: 0px; //for Firefox
    left: 21px; // for Firefox
    background-color: dimgrey;
    border: 2px solid black;
    border-radius: 5px;
}

.lightBox {
    position: relative;
    display: flex;
    justify-content: center;
    height: 120px;
}

.lightCircle1 {
    position: absolute;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width:120px;
    height:120px;
    left: 0; //for FIrefox
    background-color: #515151;
    border-radius: 50%;
    border: 2px solid black;
}

.lightCircle2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    top: 8px; //for Firefox
    left: 8px;//for Firefox
    background-color: lightslategrey;
    border-radius: 50%;
    border: 1px solid black;
}

.light {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 25px;
    height:95px;
    top: 1px;//for Firefox
    left: 38px;//fir Firefox
    background-color: dimgrey;
    border: 2px solid black;
    border-radius: 10px;
}

.arrow {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 2px;// for Firefox
    border-bottom: 10px solid white;
    border-left: 8px solid rgba(255, 192, 203, 0);
    border-right: 8px solid rgba(255, 192, 203, 0);
}


.triangleBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.triangleRed {
    position: absolute;
    cursor: pointer;
    width: 100px;
    height: 100px;
    top: -8px; // for Firefox
    left: 0; // for Firefox
    border-bottom: 74px solid rgba(255, 0, 0, 1);
    border-left: 50px solid rgba(255, 192, 203, 0);
    border-right: 50px solid rgba(255, 192, 203, 0);
}


.triangleWhite {
    position: absolute;
    width: 10px;
    height: 14px;
    top: 45px;
    left: -28px;
    border-bottom: 45px solid white;
    border-left: 28px solid rgba(255, 192, 203, 0);
    border-right: 28px solid rgba(255, 192, 203, 0);
}

.gearboxBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.gearButtons {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 4vw;
        div {
            cursor: pointer;
            padding: 1vw;
        }
}

.gearKnobBox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    height: 120px;
}

.gearBottom {
    position: absolute;
    width: 170px;
    height: 25px;
    top: 85px;
    left: 0; // for Firefox
    border: 2px solid black;
    border-radius: 10px 10px 0px 0px;
    background-color: #515151;
}

.gearKnobLow {
    position: absolute;
    width: 20px;
    height: 50px;
    top: -50px;
    left: 30px;
    border: 2px solid black;
    background-color: dimgrey;
}

.chromeKnob {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -38px;
    left: -12px;
    background-color: darkslategrey;
    border: 1px solid silver;
    border-radius: 50%;
}

.spnBox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    font-size: 2.5vw;
    padding: 0;
    div {
        cursor: pointer;
    }
}

